<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="public/yz/css/swiper.min.css"/>
    <link rel="stylesheet" href="public/yz/css/css.css" />
    <script type="text/javascript" src="public/yz/js/jquery-1.9.1.min.js" ></script>
    <script type="text/javascript" src="public/yz/js/swiper.min.js" ></script>
    <script type="text/javascript" src="public/yz/js/script.js" ></script>

</head>
<body class="body">

<?php include CUR_VIEW_PATH."Spublic/index_header.html";?>
<!--banner-->
<?php include CUR_VIEW_PATH."Spublic/baner.html";?>


<!--neirong-->
<div class="container" style="margin-top: 34px;">
    <div class="lilun fl">
        <div class="lilun-xxti"><?=$article["biaoti"]?></div>
        <div class="lilun-xxtime">
            <span><?=$article["dtime"]?></span>
            <span>来源: <?=$article["laiyuan"]?"":"雅江县委" ?></span>
            <span> 浏览：<?=$article["renqi"]?></span>
        </div>
        <div class="lilun-nei">
            <?=$article["neirong"]?>

        </div>

        <style>
            .bdshare-button-style0-24 a, .bdshare-button-style0-24 .bds_more{
                background-image:url(images/fenxiang_03.jpg);
                background-repeat:no-repeat;
            }
            .bdshare-button-style0-24 .bds_qzone{
                background-position:0 0 !important;
                padding-left:24px;
            }
            .bdshare-button-style0-24 .bds_sqq{
                background-position:-29px 0 !important;
                padding-left:24px;
            }
            .bdshare-button-style0-24 .bds_tsina{
                background-position:-58px 0 !important;
                padding-left:24px;
            }
            .bdshare-button-style0-24 .bds_weixin{
                background-position:100% 0 !important;
                padding-left:24px;
            }
        </style>
        <div class="clear" style="height:15px;"></div>
        <div class="fl" style="color:#666; margin-top:8px;">分享到：</div>

        <div class="fenxiang">
            <div class="bdsharebuttonbox"><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
            <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
        </div>


    </div>

    <div class="lilun-rht fr">
        <div class="lilun-top">
            <div class="lilun-toti">最新公告</div>
            <div class="lilu-qili">
                <ul>
                    <li><a href="">许达哲主持召开省政府常务会议</a></li>
                    <li><a href="">研究部署支持企业研发等工作</a></li>
                    <li><a href="">出台财政奖补政策 支持企业加大</a></li>
                    <li><a href="">研发投入 年度补助额最高1000万</a></li>
                    <li><a href="">条智能化中低速磁浮试验线在长沙</a></li>
                    <li><a href="">动工 设计时速160公里</a></li>
                    <li><a href="">建新型轨道交通装备产业园落</a></li>
                    <li><a href="">胡湘平：用奉献抒写忠诚</a></li>
                    <li><a href="">回访湘西花垣县十八洞村</a></li>
                </ul>
            </div>
        </div>

        <div class="lilun-bom">
            <div class="liun-biao">热门推荐</div>
            <div class="lilun-img">
                <div class="liun-imgs"><a href=""><img src="public/yz/images/lunliimg_03.jpg"/></a></div>
                <div class="liunimg-tx">
                    <p><a href="">烟雾报警器什么情况下会失灵？</a></p>
                    <span>2018-01-12</span>
                </div>
                <div class="lilu-qili lilunbom-st">
                    <ul>
                        <li><a href="">许达哲主持召开省政府常务会议</a></li>
                        <li><a href="">研究部署支持企业研发等工作</a></li>
                        <li><a href="">出台财政奖补政策 支持企业加大</a></li>
                        <li><a href="">研发投入 年度补助额最高1000万</a></li>
                        <li><a href="">条智能化中低速磁浮试验线在长沙</a></li>
                        <li><a href="">回访湘西花垣县十八洞村</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>





<!--bom-->
<div class="clear"></div>
<div class="footer">
    <p>Copyright 2006-2018 mgtv.com Corporation,All Rights Reserved  技术支持：<a href="">成都思乐科技</a></p>
    <p>雅江县党委党建办公系统  版权所有  电话：028-85530019</p>
</div>

<!--侧边栏-->
<div class="celan fixed">
    <ul>
        <li class="box">
            <a href="javascript:void(0)"></a>
            <div class="cellan-img">
                <img src="public/yz/images/cebians_03.png" class="cebiane"/>
                <img src="public/yz/images/cebian_03.png" class="cebianes"/>
            </div>
            <p>电话</p>
            <div class="hua-xia absolute">
                <em>TEL: 028-85530019</em>
                <img src="public/yz/images/shanjiao_03.png"/>
            </div>
        </li>
        <li class="box">
            <a href=""></a>
            <div class="cellan-img">
                <img src="public/yz/images/cebian1s_06.png" class="cebiane"/>
                <img src="public/yz/images/cebian1_06.png" class="cebianes"/>
            </div>
            <p>邮箱</p>
            <div class="hua-xia absolute" style="width:250px; font-size:16px;">
                <em>MAIL:12345678910@163.com</em>
                <img src="public/yz/images/shanjiao_03.png"/>
            </div>
        </li>
        <li class="tan-kuan box">
            <a href="javascript:void(0)"></a>
            <div class="cellan-img">
                <img src="public/yz/images/cebian2s_07.png" class="cebiane"/>
                <img src="public/yz/images/cebian2_07.png" class="cebianes"/>
            </div>
            <p>举报直通车 </p>
        </li>
        <li class="box">
            <a href="javascript:void(0)"></a>
            <div class="cellan-img">
                <img src="public/yz/images/cebian3s_06.png" class="cebiane"/>
                <img src="public/yz/images/cebian3_06.png" class="cebianes"/>
            </div>
            <p>回到顶部</p>
        </li>
    </ul>
</div>

<!--弹出框-->
<div class="in-fixed fixed">
    <div class="table">
        <div class="table-cell">
            <div class="in-fixeds">
                <div class="in-tanti">举报直通车</div>
                <div class="in-tan-input box">
                    <input type="text" name="" id="" value="" placeholder="姓名" class="fl"/>
                    <input type="text" name="" id="" value="" placeholder="电话" class="fr"/>
                    <input type="text" name="" id="" value="" placeholder="邮箱" class="fl"/>
                    <input type="text" name="" id="" value="" placeholder="QQ" class="fr"/>
                    <input type="text" name="" id="" value="" placeholder="举报标题" class="in-taninti"/>
                    <textarea class="box"></textarea>
                    <div class="in-tanxuan">
                        <a href="javascript:void(0)" class="in-qudi box">取消</a>
                        <a href="" class="in-quxiao box">提交举报</a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


<script type="text/javascript">
    var mySwiper = new Swiper('.banner', {
        loop: true,
        autoplay:4000,
        pagination: '.swiper-pagination',
        paginationClickable: true,
        calculateHeight: true
    });

</script>
<script>

    $(".lilun-list ul").eq(0).show();
    $(".lilun-nav li").mouseover(function(){
        $(this).addClass("lilun-nav-a").siblings().removeClass("lilun-nav-a");
        $(".lilun-list ul").eq($(this).index()).show().siblings().hide();
    })

</script>
</body>
</html>