<div class="swiper-container banner">
    <div class="banner-ab absolute">
        <div class="container">
            <div class="banner-scrolls fr">
                <div class="banner-scroll">
                    <div class="banner-nav ">
                        <ul>
                            <?php if(self::$articleGlassifyData):?>
                            <?php foreach(self::$articleGlassifyData as $articleGlassify):?>
                            <li><a href="index.php?p=show&c=index&a=tw&id=<?=$articleGlassify['id']?>"><?=$articleGlassify['fenleimingcheng']?></a></li>
                            <?php endforeach;?>
                            <?php endif;?>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-wrapper">
        <div class="swiper-slide" style="background:url('public/yz/images/banner_01.jpg') no-repeat center;"></div>
        <div class="swiper-slide" style="background:url('public/yz/images/banner_01.jpg') no-repeat center;"></div>
        <div class="swiper-slide" style="background:url('public/yz/images/banner_01.jpg') no-repeat center;"></div>
    </div>
    <div class="swiper-pagination"></div>
</div>