<div class="xt-nav absolute">
    <div class="scroll">
        <h1>
            <a href="">
                <div class="xt-navli">
                    <div class="xiton-ico">
                        <img src="public/yz/images/hou-ico_03.png" class="hou-icos"/>
                        <img src="public/yz/images/hou-icos_03.png" class="hou-ico"/>
                    </div>
                    <em class="fl">系统首页</em>
                </div>
            </a>
        </h1>
        <ul>
            <li>
                <div class="whole">
                    <img src="public/yz/images/xt-nav_02.jpg" class="xt-navback" />
                    <div class="xt-navli">
                        <div class="xiton-ico">
                            <img src="public/yz/images/hou-ico1_07.png" class="hou-icos" />
                            <img src="public/yz/images/hou-ico1s_07.png" class="hou-ico" />
                        </div>
                        <em class="fl">公文</em>
                    </div>
                </div>
                <div class="xtli-ulli">
                    <p>
                        <a href="">收文</a>
                    </p>
                    <p>
                        <a href="">发文</a>
                    </p>
                </div>
            </li>
            <li>
                <div class="whole">
                    <img src="public/yz/images/xt-nav_02.jpg" class="xt-navback" />
                    <div class="xt-navli">
                        <div class="xiton-ico">
                            <img src="public/yz/images/hou-ico2_07.png" class="hou-icos" />
                            <img src="public/yz/images/hou-ico2s_07.png" class="hou-ico" />
                        </div>
                        <em class="fl">文章管理</em>
                    </div>
                </div>
                <div class="xtli-ulli">
                    <p>
                        <a href="index.php?p=show&c=article&a=add">发布文章</a>
                    </p>
                    <p>
                        <a href="index.php?p=show&c=article&a=list">文章列表</a>
                    </p>
                </div>
            </li>
            <li>
                <div class="whole">
                    <img src="public/yz/images/xt-nav_02.jpg" class="xt-navback" />
                    <div class="xt-navli">
                        <div class="xiton-ico">
                            <img src="public/yz/images/hou-ico3_07.png" class="hou-icos" />
                            <img src="public/yz/images/hou-ico3s_07.png" class="hou-ico" />
                        </div>
                        <em class="xiton-ti fl">统计</em>
                    </div>
                </div>
                <div class="xtli-ulli">
                    <p>
                        <a href="">收文</a>
                    </p>
                    <p>
                        <a href="">发文</a>
                    </p>
                </div>
            </li>
            <li>
                <div class="whole">
                    <img src="public/yz/images/xt-nav_02.jpg" class="xt-navback" />
                    <div class="xt-navli">
                        <div class="xiton-ico">
                            <img src="public/yz/images/hou-ico8_07.png" class="hou-icos" />
                            <img src="public/yz/images/hou-ico8s_07.png" class="hou-ico" />
                        </div>
                        <em class="fl">基础设置</em>
                    </div>
                </div>
                <div class="xtli-ulli">
                    <p class="xtli-ulli-p">
                        <a href="">人员管理</a>
                    </p>
                    <p>
                        <a href="">角色管理</a>
                    </p>
                    <p>
                        <a href="">权限管理</a>
                    </p>
                </div>
            </li>
        </ul>
    </div>

</div>