<div class="xt-nav absolute">
    <div class="scroll">
        <h1>
            <a href="">
                <div class="xt-navli">
                    <div class="xiton-ico">
                        <img src="public/yz/images/hou-ico_03.png" class="hou-icos"/>
                        <img src="public/yz/images/hou-icos_03.png" class="hou-ico"/>
                    </div>
                    <em class="fl">系统首页</em>
                </div>
            </a>
        </h1>
        <ul>
            <li>
                <div class="whole">
                    <img src="public/yz/images/xt-nav_02.jpg" class="xt-navback" />
                    <div class="xt-navli">
                        <div class="xiton-ico">
                            <img src="public/yz/images/hou-ico1_07.png" class="hou-icos" />
                            <img src="public/yz/images/hou-ico1s_07.png" class="hou-ico" />
                        </div>
                        <em class="fl">公文</em>
                    </div>
                </div>
                <div class="xtli-ulli">
                    <?php if(self::$userData["guanliyuan"]==1):?>
                        <div class="xtli-ullip">
                            <a href="javascript:;">收文</a>
                            <div class="tree-selsct">
                                <?php if(self::$workDatas):?>
                                <?php foreach(self::$workDatas as $data):?>
                                    <p><a href="index.php?p=show&c=gongwen&a=accept&zlId=<?=$data['id']?>"><?=$data["fenleimingcheng"]?></a></p>
                                <?php endforeach;?>
                                <?php endif;?>
                            </div>
                        </div>
                    <?php else:?>
                        <div class="xtli-ullip">
                            <a href="index.php?p=show&c=gongwen&a=accept">收文</a>
                        </div>
                    <?php endif;?>
                    <div class="xtli-ullip">
                        <a href="index.php?p=show&c=gongwen&a=list">发文</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="whole">
                    <img src="public/yz/images/xt-nav_02.jpg" class="xt-navback" />
                    <div class="xt-navli">
                        <div class="xiton-ico">
                            <img src="public/yz/images/hou-ico2_07.png" class="hou-icos" />
                            <img src="public/yz/images/hou-ico2s_07.png" class="hou-ico" />
                        </div>
                        <em class="fl">文章管理</em>
                    </div>
                </div>
                <div class="xtli-ulli">
                    <div class="xtli-ullip">
                        <a href="index.php?p=show&c=article&a=add">发布文章</a>
                    </div>
                    <div class="xtli-ullip">
                        <a href="index.php?p=show&c=article&a=list">文章列表</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="whole">
                    <img src="public/yz/images/xt-nav_02.jpg" class="xt-navback" />
                    <div class="xt-navli">
                        <div class="xiton-ico">
                            <img src="public/yz/images/hou-ico3_07.png" class="hou-icos" />
                            <img src="public/yz/images/hou-ico3s_07.png" class="hou-ico" />
                        </div>
                        <em class="xiton-ti fl">统计</em>
                    </div>
                </div>
                <div class="xtli-ulli">
                    <p>
                        <a href="">收文</a>
                    </p>
                    <p>
                        <a href="">发文</a>
                    </p>
                </div>
            </li>
            <li>
                <div class="whole">
                    <img src="public/yz/images/xt-nav_02.jpg" class="xt-navback" />
                    <div class="xt-navli">
                        <div class="xiton-ico">
                            <img src="public/yz/images/hou-ico8_07.png" class="hou-icos" />
                            <img src="public/yz/images/hou-ico8s_07.png" class="hou-ico" />
                        </div>
                        <em class="fl">基础设置</em>
                    </div>
                </div>
                <div class="xtli-ulli">
                    <div class="xtli-ullip">
                        <a href="index.php?p=show&c=admin&a=index">人员管理</a>
                    </div>
                    <div class="xtli-ullip">
                        <a href="index.php?p=show&c=organization&a=index">角色管理</a>
                    </div>
                    <div class="xtli-ullip">
                        <a href="">权限管理</a>
                    </div>
                    <div class="xtli-ullip">
                        <a href="index.php?p=show&c=report&a=list">举报信息</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>