

<div class="xt-head fixed" style="z-index: 10001">
    <div class="content">
        <div class="xt-logo fl">
            <a href=""><img src="public/yz/images/xt-logo_03.png"/></a>
        </div>
        <div class="xt-minxi fr">
            <div class="xt-kexiao fl">
                <ul>
                    <li>
                        <a href=""><img src="public/yz/images/xt-xin1_03.png" />客服</a>
                    </li>
                    <li>
                        <a href="">
                            <img src="public/yz/images/xt-xin_06.png" /> 消息
                            <em>8</em>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="nei-tou fr">
                <div class="nei-tous fl">
                    <a href=""><img src="public/yz/images/neitou_04.jpg" /></a>
                    <p></p>
                </div>
                <!--加 下拉css-->
                <style>
                    .min{position:relative;line-height:30px; margin-top:32px;}
                    .min:hover .min-xia{display:block;}
                    .min-xia{position:absolute; top:98%; left:-40px; width:100px; padding-top:23px; display:none;}
                    .min-xiadiv{background:#fff; border:1px solid #ddd; line-height:35px;}
                    .min-xiadiv a{line-height:35px;color:#333;font-size:12px; border-top:1px solid #ddd;
                        margin-top:-1px;display:block; text-align: center;
                    }
                    .min-xiadiv a:hover{background:#e83014;color:#fff;}
                </style>
                <div class="min fl">
                    <?=self::$userData["xingming"]?self::$userData["xingming"]:'<a href="index.php?p=show&c=login&a=index">登录</a>' ?>


                    <!--加 下拉html-->
                    <div class="min-xia">
                        <div class="min-xiadiv">
                            <a href="javascript:void(0)">修改密码</a>
                            <a href="index.php?p=show&c=admin&a=quit">退出登录</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--加 下拉html-->
<div class="min-tank fixed" style="display:none">
    <div class="table">
        <div class="table-cell">
            <div class="Add-to">
                <div class="add-top">
                    <span>修改密码</span>
                    <img src="public/yz/images/Close_03.png" class="Close" />
                </div>
                <div class="add-toinput">
                    <form method="post" id="updatePwdForm">
                    <div class="add-min">
                        <input type="hidden" name="userId" id="userId" value="">
                        <span><em>*</em> 旧密码：</span>
                        <input type="text" name="oldPassword" id="oldPassword" value="" />
                    </div>
                    <div class="add-min">
                        <span><em>*</em> 新密码：</span>
                        <input type="text" name="newPassword" id="newPassword" value="" />
                    </div>
                    <div class="add-min">
                        <span><em>*</em> 确认密码：</span>
                        <input type="text" name="newPasswordAgain" id="newPasswordAgain" value="" />
                    </div>
                    <div class="add-baos ">
                        <input type="button" value="确认修改" class="add-bao updatePassword" />
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--加 下拉js-->
<script>
    $(function(){

        $(".min-xiadiv a").on("click",function(){
            if($(this).index()==1){
                $(".tanchu").show(200);
            }else if($(this).index()==0){
                $("#userId").val(<?=self::$userData['id']?>);
                $(".min-tank").show(200);
            }

        })

        $(".Close").on("click",function(){
            $(".min-tank").hide(200);
        })
    })
</script>
<script type="text/javascript">
    $(".updatePassword").click(function () {
        var form = new FormData(document.getElementById("updatePwdForm"));
        var newPassword = $("#newPassword").val()
        var newPasswordAgain = $("#newPasswordAgain").val()
        if(newPassword != newPasswordAgain){
            layer.alert("两次新密码输入不一致");
            return false;
        }
        $.ajax({
            url:"index.php?p=show&c=admin&a=updatePwd",
            type:"post",
            data:form,
            cache: false,
            processData: false,
            contentType: false,
            success:function(data){
                if (data == 200){
                    layer.open({
                        content: '修改密码成功,需重新登录！',
                        btn: ['确认'],
                        yes: function(index, layero) {
                            window.location.href='http://www.qy.com/index.php?p=show&c=admin&a=quit';
                        },
                    });
                }else if(data == 501){
                    layer.alert("原密码输入错误");
                    return false;
                }else if(data == 502){
                    layer.alert("保存失败");
                    return false;
                }
            },
            error:function(e){
                layer.alert("保存失败")
                return false;
            }
        })
    })
</script>