<div class="celan fixed">
    <ul>
        <li class="box">
            <a href="javascript:void(0)"></a>
            <div class="cellan-img">
                <img src="public/yz/images/cebians_03.png" class="cebiane"/>
                <img src="public/yz/images/cebian_03.png" class="cebianes"/>
            </div>
            <p>电话</p>
            <div class="hua-xia absolute">
                <em>TEL: 028-85530019</em>
                <img src="public/yz/images/shanjiao_03.png"/>
            </div>
        </li>
        <li class="box">
            <a href=""></a>
            <div class="cellan-img">
                <img src="public/yz/images/cebian1s_06.png" class="cebiane"/>
                <img src="public/yz/images/cebian1_06.png" class="cebianes"/>
            </div>
            <p>邮箱</p>
            <div class="hua-xia absolute" style="width:250px; font-size:16px;">
                <em>MAIL:12345678910@163.com</em>
                <img src="public/yz/images/shanjiao_03.png"/>
            </div>
        </li>
        <li class="tan-kuan box">
            <a href="javascript:void(0)"></a>
            <div class="cellan-img">
                <img src="public/yz/images/cebian2s_07.png" class="cebiane"/>
                <img src="public/yz/images/cebian2_07.png" class="cebianes"/>
            </div>
            <p>举报直通车 </p>
        </li>
        <li class="box">
            <a href="javascript:void(0)"></a>
            <div class="cellan-img">
                <img src="public/yz/images/cebian3s_06.png" class="cebiane"/>
                <img src="public/yz/images/cebian3_06.png" class="cebianes"/>
            </div>
            <p>回到顶部</p>
        </li>
    </ul>
</div>