<div class="in-fixed fixed">
    <div class="table">
        <div class="table-cell">
            <div class="in-fixeds">
                <div class="in-tanti">举报直通车</div>
                <div class="in-tan-input box">
                    <input type="text" name="" id="" value="" placeholder="姓名" class="fl"/>
                    <input type="text" name="" id="" value="" placeholder="电话" class="fr"/>
                    <input type="text" name="" id="" value="" placeholder="邮箱" class="fl"/>
                    <input type="text" name="" id="" value="" placeholder="QQ" class="fr"/>
                    <input type="text" name="" id="" value="" placeholder="举报标题" class="in-taninti"/>
                    <textarea class="box"></textarea>
                    <div class="in-tanxuan">
                        <a href="javascript:void(0)" class="in-qudi box">取消</a>
                        <a href="" class="in-quxiao box">提交举报</a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>