<div class="head-nei">
    <div class="container">
        <div class="top-wen fl">公文</div>
        <div class="top-kfxiang fr">
            <div class="top-cak fl">
                <ul>
                    <li><a href=""><img src="public/wapyz/images/ck-ico_05.png"/>客服</a></li>
                    <li><a href=""><img src="public/wapyz/images/ck-ico1_08.png"/>消息</a></li>
                </ul>
            </div>
            <div class="top-toux fl">
                <a href=""><img src="public/wapyz/images/touxiang_05.jpg"/></a>
            </div>
            <div class="xt-click fr">
                <img src="public/wapyz/images/click-xt_03.png"/>
            </div>
        </div>
    </div>
</div>