<div class="head-nei">
    <div class="container">
        <div class="top-wen fl">公文</div>
        <div class="top-kfxiang fr">
            <div class="top-cak fl">
                <ul>
                    <li><a href=""><img src="public/wapyz/images/ck-ico_05.png"/>客服</a></li>
                    <li><a href=""><img src="public/wapyz/images/ck-ico1_08.png"/>消息</a></li>
                </ul>
            </div>
            <div class="top-toux fl">
                <a href=""><img src="public/wapyz/images/touxiang_05.jpg"/></a>
            </div>
            <div class="xt-click fr">
                <img src="public/wapyz/images/click-xt_03.png"/>
            </div>
        </div>
    </div>
</div>

<div class="head-nav fixed box">
    <div class="max relative">
        <div class="guanbi">关闭</div>
        <div class="container">
            <ul>
                <li><a href="index.php?p=show&c=gongwen&a=list">发文列表 <img src=""/> </a></li>
                <li><a href="index.php?p=show&c=gongwen&a=accept">收文列表</a></li>
                <li><a href="index.php?p=show&c=admin&a=quit">退出登录</a></li>
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(".xt-click").click(function(){
        $(".head-nav").slideDown();
    })
</script>