<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title></title>
	<link rel="stylesheet" type="text/css" href="public/yz/css/swiper.min.css"/>
	<link rel="stylesheet" href="public/yz/css/css.css" />
	<script type="text/javascript" src="public/yz/js/jquery-1.9.1.min.js" ></script>
	<script type="text/javascript" src="public/yz/js/swiper.min.js" ></script>
	<script type="text/javascript" src="public/yz/js/script.js" ></script>
</head>
<body class="body">

<?php include CUR_VIEW_PATH."Spublic/index_header.html";?>
<!--banner-->
<?php include CUR_VIEW_PATH."Spublic/baner.html";?>


<!--in-neirong-->
<div class="loucen">
	<div class="container">
		<div class="fupin">
			<div class="fupin-lft fl">
				<div class="in-h1">
					<p>精准扶贫专栏  </p>
					<a href="index.php?p=show&c=index&a=tw&id=17">更多&gt;&gt;</a>
				</div>
				<div style="height:15px;"></div>
				<div class="in-fptop fl">
					<div class="in-img"><a href="index.php?p=show&c=index&a=detail&id=<?=$fpData[0]['id']?>"><img src="<?=$fpData[0]['tupian']?>"/></a></div>
					<div class="in-text">
						<p><a href="index.php?p=show&c=index&a=detail&id=<?=$fpData[0]['id']?>"><?=$fpData[0]['biaoti']?></a></p>
						<span><?=$fpData[0]['biaoti']?></span>
					</div>
				</div>
				<div class="in-fptop fr">
					<ul>
						<?php if($fpData):?>
							<?php foreach($fpData as $k=>$fp):?>
								<?php if($k>0):?>
								<li>
									<div class="in-toplist"><a href="index.php?p=show&c=index&a=detail&id=<?=$fp['id']?>"><img src="<?=$fp['tupian']?>"/></a></div>
									<div class="in-toptext">
										<p><a href="index.php?p=show&c=index&a=detail&id=<?=$fp['id']?>"><?=$fp['biaoti']?></a></p>
										<span><?=$fp['biaoti']?></span>
									</div>
								</li>
								<?php endif;?>
							<?php endforeach;?>
						<?php endif;?>
					</ul>
				</div>
			</div>

			<div class="fupin-rht fr">
				<div class="in-h1">
					<p>最新公告</p>
					<a href="">更多&gt;&gt;</a>
				</div>
				<div class="fupi-li">
					<ul>
						<li><a href="">许达哲主持召开省政府常务会议</a></li>
						<li><a href="">研究部署支持企业研发等工作</a></li>
						<li><a href="">出台财政奖补政策 支持企业加大</a></li>
						<li><a href="">研发投入 年度补助额最高1000万</a></li>
						<li><a href="">条智能化中低速磁浮试验线在长沙</a></li>
						<li><a href="">动工 设计时速160公里</a></li>
						<li><a href="">建新型轨道交通装备产业园落</a></li>
						<li><a href="">胡湘平：用奉献抒写忠诚</a></li>
					</ul>
				</div>
			</div>
		</div>

		<!--“不忘初心 牢记使命”教育活动-->
		<div class="in-buwan">
			<div class="in-h1">
				<p>不忘初心 牢记使命”教育活动</p>
				<em><img src="public/yz/images/huan-yi_03.png"/>换一批</em>
			</div>
			<ul>
				<li>
					<div class="in-buimg">
						<a href=""><img src="public/yz/images/buwan-img_03.jpg"/></a>
					</div>
					<div class="in-toptext">
						<p><a href="">烟雾报警器什么情况下会失灵？</a></p>
						<span>2018-01-12</span>
					</div>
				</li>
				<li>
					<div class="in-buimg">
						<a href=""><img src="public/yz/images/buwan-img1_05.jpg"/></a>
					</div>
					<div class="in-toptext">
						<p><a href="">烟雾报警器什么情况下会失灵？</a></p>
						<span>2018-01-12</span>
					</div>
				</li>
				<li>
					<div class="in-buimg">
						<a href=""><img src="public/yz/images/buwan-img2_05.jpg"/></a>
					</div>
					<div class="in-toptext">
						<p><a href="">烟雾报警器什么情况下会失灵？</a></p>
						<span>2018-01-12</span>
					</div>
				</li>
				<li>
					<div class="in-buimg">
						<a href=""><img src="public/yz/images/buwan-img3_05.jpg"/></a>
					</div>
					<div class="in-toptext">
						<p><a href="">烟雾报警器什么情况下会失灵？</a></p>
						<span>2018-01-12</span>
					</div>
				</li>
			</ul>
		</div>

		<!--“不忘初心 牢记使命”教育活动-->
		<div class="in-buwan">
			<div class="in-h1">
				<div class="in-h1nav addnoe">
					<p class="in-h1navp">“两学一做”“走基层”专题</p>
					<p>农牧民夜校专栏</p>
				</div>
				<em><img src="public/yz/images/huan-yi_03.png"/>换一批</em>
			</div>
			<div class="inlto">
				<ul>
					<li>
						<div class="in-buimg">
							<a href=""><img src="public/yz/images/buwan-img_03.jpg"/></a>
						</div>
						<div class="in-toptext">
							<p><a href="">烟雾报警器什么情况下会失灵？</a></p>
							<span>2018-01-12</span>
						</div>
					</li>
					<li>
						<div class="in-buimg">
							<a href=""><img src="public/yz/images/buwan-img1_05.jpg"/></a>
						</div>
						<div class="in-toptext">
							<p><a href="">烟雾报警器什么情况下会失灵？</a></p>
							<span>2018-01-12</span>
						</div>
					</li>
					<li>
						<div class="in-buimg">
							<a href=""><img src="public/yz/images/buwan-img2_05.jpg"/></a>
						</div>
						<div class="in-toptext">
							<p><a href="">烟雾报警器什么情况下会失灵？</a></p>
							<span>2018-01-12</span>
						</div>
					</li>
					<li>
						<div class="in-buimg">
							<a href=""><img src="public/yz/images/buwan-img3_05.jpg"/></a>
						</div>
						<div class="in-toptext">
							<p><a href="">烟雾报警器什么情况下会失灵？</a></p>
							<span>2018-01-12</span>
						</div>
					</li>
				</ul>
				<ul>
					<li>1</li>
				</ul>
			</div>

		</div>
	</div>
</div>

<!--loucen-er-->
<div class="loucen">
	<div class="container">
		<div class="fupin">
			<div class="fupin-lft fl" style="width:100%;">
				<div class="in-h1">
					<p>党的建设</p>
					<em><img src="public/yz/images/huan-yi_03.png"/>换一批</em>
				</div>
				<div style="height:15px;"></div>
				<div class="in-fptop fl">
					<div class="in-img"><a href=""><img src="public/yz/images/iner-img_14.jpg"/></a></div>
					<div class="in-text">
						<p><a href="">习近平主席发表2018年新年贺词</a></p>
						<span>聆听，这深沉绵长的人民情怀！</span>
					</div>
				</div>
				<div class="in-fptop in-ercen fr" style="width:720px;">
					<ul>
						<li>
							<div class="in-toplist"><a href=""><img src="public/yz/images/iner-img1_16.jpg"/></a></div>
							<div class="in-toptext">
								<p><a href="">回访湘西花垣县十八洞村</a></p>
								<span>书写伟大复兴的时代画卷</span>
							</div>
						</li>
						<li>
							<div class="in-toplist"><a href=""><img src="public/yz/images/iner-img2_12.jpg"/></a></div>
							<div class="in-toptext">
								<p><a href="">回访湘西花垣县十八洞村</a></p>
								<span>书写伟大复兴的时代画卷</span>
							</div>
						</li>
						<li>
							<div class="in-toplist"><a href=""><img src="public/yz/images/iner-img3_12.jpg"/></a></div>
							<div class="in-toptext">
								<p><a href="">回访湘西花垣县十八洞村</a></p>
								<span>书写伟大复兴的时代画卷</span>
							</div>
						</li>
						<li>
							<div class="in-toplist"><a href=""><img src="public/yz/images/iner-img4_18.jpg"/></a></div>
							<div class="in-toptext">
								<p><a href="">回访湘西花垣县十八洞村</a></p>
								<span>书写伟大复兴的时代画卷</span>
							</div>
						</li>
						<li>
							<div class="in-toplist"><a href=""><img src="public/yz/images/iner-img5_19.jpg"/></a></div>
							<div class="in-toptext">
								<p><a href="">回访湘西花垣县十八洞村</a></p>
								<span>书写伟大复兴的时代画卷</span>
							</div>
						</li>
						<li>
							<div class="in-toplist"><a href=""><img src="public/yz/images/iner-img6_19.jpg"/></a></div>
							<div class="in-toptext">
								<p><a href="">回访湘西花垣县十八洞村</a></p>
								<span>书写伟大复兴的时代画卷</span>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>



		<!--三会一课、主题党日专栏-->
		<div class="in-buwan">
			<div class="in-h1">
				<div class="in-h1nav addtwo">
					<p class="in-h1navp">三会一课、主题党日专栏</p>
					<p>藏汉双语培训专栏</p>
				</div>
				<em><img src="public/yz/images/huan-yi_03.png"/>换一批</em>
			</div>
			<div class="inlto">
				<ul>
					<li>
						<div class="in-buimg">
							<a href=""><img src="public/yz/images/iner-baimg_26.jpg"/></a>
						</div>
						<div class="in-toptext">
							<p><a href="">烟雾报警器什么情况下会失灵？</a></p>
							<span>2018-01-12</span>
						</div>
					</li>
					<li>
						<div class="in-buimg">
							<a href=""><img src="public/yz/images/iner-baimg1_26.jpg"/></a>
						</div>
						<div class="in-toptext">
							<p><a href="">烟雾报警器什么情况下会失灵？</a></p>
							<span>2018-01-12</span>
						</div>
					</li>
					<li>
						<div class="in-buimg">
							<a href=""><img src="public/yz/images/iner-baimg2_26.jpg"/></a>
						</div>
						<div class="in-toptext">
							<p><a href="">烟雾报警器什么情况下会失灵？</a></p>
							<span>2018-01-12</span>
						</div>
					</li>
					<li>
						<div class="in-buimg">
							<a href=""><img src="public/yz/images/iner-baimg3_26.jpg"/></a>
						</div>
						<div class="in-toptext">
							<p><a href="">烟雾报警器什么情况下会失灵？</a></p>
							<span>2018-01-12</span>
						</div>
					</li>
				</ul>
				<ul><li>2</li></ul>
			</div>
		</div>
		<!--村务经费公开专栏-->
		<div class="in-buwan">
			<div class="in-h1">
				<p>村务经费公开专栏</p>
				<em><img src="public/yz/images/huan-yi_03.png"/>换一批</em>
			</div>
			<ul>
				<li>
					<div class="in-buimg">
						<a href=""><img src="public/yz/images/iner-baimg4_26.jpg"/></a>
					</div>
					<div class="in-toptext">
						<p><a href="">烟雾报警器什么情况下会失灵？</a></p>
						<span>2018-01-12</span>
					</div>
				</li>
				<li>
					<div class="in-buimg">
						<a href=""><img src="public/yz/images/iner-baimg5_26.jpg"/></a>
					</div>
					<div class="in-toptext">
						<p><a href="">烟雾报警器什么情况下会失灵？</a></p>
						<span>2018-01-12</span>
					</div>
				</li>
				<li>
					<div class="in-buimg">
						<a href=""><img src="public/yz/images/iner-baimg6_26.jpg"/></a>
					</div>
					<div class="in-toptext">
						<p><a href="">烟雾报警器什么情况下会失灵？</a></p>
						<span>2018-01-12</span>
					</div>
				</li>
				<li>
					<div class="in-buimg">
						<a href=""><img src="public/yz/images/iner-baimg7_26.jpg"/></a>
					</div>
					<div class="in-toptext">
						<p><a href="">烟雾报警器什么情况下会失灵？</a></p>
						<span>2018-01-12</span>
					</div>
				</li>

				<li>
					<div class="in-buimg">
						<a href=""><img src="public/yz/images/iner-baimg8_26.jpg"/></a>
					</div>
					<div class="in-toptext">
						<p><a href="">烟雾报警器什么情况下会失灵？</a></p>
						<span>2018-01-12</span>
					</div>
				</li>
				<li>
					<div class="in-buimg">
						<a href=""><img src="public/yz/images/iner-baimg9_26.jpg"/></a>
					</div>
					<div class="in-toptext">
						<p><a href="">烟雾报警器什么情况下会失灵？</a></p>
						<span>2018-01-12</span>
					</div>
				</li>
				<li>
					<div class="in-buimg">
						<a href=""><img src="public/yz/images/iner-baimg10_26.jpg"/></a>
					</div>
					<div class="in-toptext">
						<p><a href="">烟雾报警器什么情况下会失灵？</a></p>
						<span>2018-01-12</span>
					</div>
				</li>
				<li>
					<div class="in-buimg">
						<a href=""><img src="public/yz/images/iner-baimg11_26.jpg"/></a>
					</div>
					<div class="in-toptext">
						<p><a href="">烟雾报警器什么情况下会失灵？</a></p>
						<span>2018-01-12</span>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>


<!--bom-->
<div class="in-bom">
	<div class="container">
		<ul>
			<li><a href="index.php?p=show&c=index&a=wb&id=25"><img src="public/yz/images/in-bom_03.jpg"/></a></li>
			<li><a href="index.php?p=show&c=index&a=wb&id=26"><img src="public/yz/images/in-bom1_05.jpg"/></a></li>
			<li><a href="index.php?p=show&c=index&a=wb&id=27"><img src="public/yz/images/in-bom3_05.jpg"/></a></li>
			<li><a href="index.php?p=show&c=index&a=wb&id=28"><img src="public/yz/images/in-bom2_05.jpg"/></a></li>
		</ul>

	</div>
</div>
<div class="clear"></div>
<div class="footer" style="background:none;">
	<p>Copyright 2006-2018 mgtv.com Corporation,All Rights Reserved  技术支持：<a href="">成都思乐科技</a></p>
	<p>雅江县党委党建办公系统  版权所有  电话：028-85530019</p>
</div>

<!--侧边栏-->
<?php include CUR_VIEW_PATH."Spublic/index_cebianlan.html";?>



<!--弹出框-->
<?php include CUR_VIEW_PATH."Spublic/index_tanchukuang.html";?>


<script type="text/javascript">
    var mySwiper = new Swiper('.banner', {
        loop: true,
        autoplay:4000,
        pagination: '.swiper-pagination',
        paginationClickable: true,
        calculateHeight: true
    });

</script>
<script>

    $(".inlto:eq(0) ul").eq(0).show();
    $(".inlto:eq(1) ul").eq(0).show();
    $(".addnoe p").mouseover(function(){
        $(this).addClass("in-h1navp").siblings().removeClass("in-h1navp");
        $(this).parent().parent().siblings().find("ul").eq($(this).index()).show().siblings().hide();
    })
    $(".addtwo p").mouseover(function(){
        $(this).addClass("in-h1navp").siblings().removeClass("in-h1navp");
        $(this).parent().parent().siblings().find("ul").eq($(this).index()).show().siblings().hide();
    })
</script>
</body>
</html>
