<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title><?=self::$title?></title>
    <link rel="stylesheet" href="public/yz/css/css.css" />
    <link href="public/yz/css/mobiscroll_002.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="public/yz/js/jquery-1.9.1.min.js" ></script>
    <script type="text/javascript" src="public/yz/js/script.js" ></script>
    <script src="public/yz/js/mobiscroll_002.js" type="text/javascript"></script>
    <script src="public/yz/js/mobiscroll.js" type="text/javascript"></script>

    <link rel="stylesheet" href="public/layer/theme/default/layer.css">
    <script src="public/layer/layer.js" type="text/javascript"></script>

    <!--[if lte IE 9]>
    <script type="text/javascript" src="https://cdn.bootcss.com/respond.js/1.4.2/respond.js" ></script>
    <![endif]-->
</head>
<body class="body">

<!--header-->
<?php include CUR_VIEW_PATH."Spublic/header.html";?>
<div class="xt-ycatou"></div>

<?php include CUR_VIEW_PATH."Spublic/bianlan.html";?>

<!--neirongbianji-->
<div class="body-edit box">
    <div class="edit-top">
        <img src="public/yz/images/nei-dinwei_03.png"/>
        <a href="javascript:void(0)">系统主页</a>
        <em>&gt;</em>
        <a href="javascript:void(0)">公文</a>
        <em>&gt;</em>
        公文详情
    </div>

    <div class="xt-wenzhan">
        <div class="xx-ul">
            <ul>
                <li>
                    <div class="li-span"><em>公文标题</em></div>
                    <p><?=$gwData["biaoti"]?>	</p>
                </li>
                <li>
                    <div class="li-span"><em>公文编号</em></div>
                    <p><?=$gwData["bianhao"]?></p>
                </li>
                <li>
                    <div class="li-span"><em>工作专栏</em></div>
                    <p><?=self::getZlNameAction($gwData['zhuanlan'])?></p>
                </li>
                <li>
                    <div class="li-span"><em>公文来源</em></div>
                    <p><?=self::getCunMingchengAction($gwData["xiangzhen"])."-".self::getCunMingchengAction($gwData["cun"])?></p>
                </li>
                <li>
                    <div class="li-span"><em>发送人</em></div>
                    <p><?=self::getfsrAction($gwData["zuozhe"])?></p>
                </li>
                <li>
                    <div class="li-span"><em>发布时间</em></div>
                    <p><?=$gwData["dtime"]?></p>
                </li>
                <li>
                    <div class="li-span">
                        <div class="table">
                            <span class="table-cell"><em>缩略图</em></span>
                        </div>
                    </div>
                    <p><img src="<?=$gwData['tupian']?>" class="suoluetu"/></p>
                </li>
                <li style="height:auto;">
                    <div class="li-span">
                        <div class="table">
                            <span class="table-cell"><em>文章正文</em></span>
                        </div>
                    </div>
                    <div class="wnzi">
                        <?=$gwData["neirong"]?>
                    </div>
                </li>
            </ul>
        </div>

        <div class="edit-quedin" style="text-align: right;">
            <a id="shenhe" gwId="<?=$gwData['id']?>" gwStatus="<?=$gwData['zhuangtai']?>" href="javascript:void(0)" class="wdit-a box">设为已审核</a>
            <a href="javascript:void(0)" gwStatus="<?=$gwData['zhuangtai']?>">推荐公文</a>
            <a href="javascript:void(0)" gwStatus="<?=$gwData['zhuangtai']?>" gwId="<?=$gwData['id']?>" class="tuihui">退回公文</a>
        </div>



        <div style="height:80px;"></div>
    </div>
</div>

<div class="fixed-tui fixed">
    <div class="table">
        <div class="table-cell">
            <div class="tui-wen box">
                <div class="in-tanti">确定推荐本条公文？</div>
                <div class="tui-nei box">
                    <div class="tui-lei">
                        <span>公文标题：</span>
                        <p><?=$gwData["biaoti"]?></p>
                    </div>
                    <div class="tui-lei">
                        <span>公文编号：</span>
                        <p><?=$gwData["bianhao"]?></p>
                    </div>
                    <div class="tui-lei">
                        <span>工作专栏：</span>
                        <p><?=self::getZlNameAction($gwData['zhuanlan'])?></p>
                    </div>
                    <div class="tui-lei">
                        <span>发送人：</span>
                        <p><?=self::getfsrAction($gwData["zuozhe"])?></p>
                    </div>
                    <div class="tui-lei">
                        <span>发布时间：</span>
                        <p><?=$gwData["dtime"]?></p>
                    </div>
                    <div class="clear"></div>
                    <div class="tui-qudin">
                        <a href="javascript:void(0)" class="tui-yes fl box">取消</a>
                        <a href="javascript:void(0)" class="tui-none fr" id="tuijian" gwId="<?=$gwData['id']?>">确定推荐</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(".edit-quedin a:eq(1)").click(function(){
        var gwStatus = $(this).attr("gwStatus");
        if (gwStatus==3){
            layer.alert("该公文已退回，需重新提交");
            return false;
        }
        if (gwStatus==5){
            layer.alert("该公文已推荐");
            return false;
        }
        $(".fixed-tui").show(200);
    })

    $(".tui-yes").click(function(){
        $(".fixed-tui").hide(200);
    })

    $(".edit-inwidt").on("click", function() {
        $(this).siblings(".adit-xuan").slideToggle();
    })
    $(".adit-xuan p").on("click",function(){
        $(this).parent().siblings().val($(this).text());
        $(this).parent().slideUp();
    })
</script>
<!--退回公文-->
<script type="text/javascript">
    $(".tuihui").click(function () {
        var gwTd = $(this).attr("gwId");
        var gwStatus = $(this).attr("gwStatus");
        if (gwStatus==3){
            layer.alert("该公文已退回");
            return false;
        }
        if (gwStatus==4){
            layer.alert("该公文已审核通过");
            return false;
        }
        if (gwStatus==5){
            layer.alert("该公文已推荐");
            return false;
        }
        $.post("index.php?p=show&c=gongwen&a=tuihuiGw",{gwId:gwTd},function (data) {
            if (data==200){
                layer.open({
                    content: '退回成功！',
                    btn: ['确认'],
                    yes: function(index, layero) {
                        // window.location.href="http://www.qy.com/index.php?p=show&c=gongwen&a=accept&zlId=<?=$gwData['zhuanlan']?>";
                        window.history.back()
                    },
                });
            }else {
                layer.open({
                    content: '审核失败！',
                    btn: ['确认'],
                    yes: function(index, layero) {
                        location.reload();
                    },
                });
            }
        })
        return false;
    })
</script>
<!--审核-->
<script type="text/javascript">
    $("#shenhe").click(function () {
        var gwTd = $(this).attr("gwId");
        var gwStatus = $(this).attr("gwStatus");
        if (gwStatus==3){
            layer.alert("该公文已退回，需重新提交");
            return false;
        }
        if (gwStatus==4){
            layer.alert("该公文已审核");
            return false;
        }
        if (gwStatus==5){
            layer.alert("该公文已推荐");
            return false;
        }
        $.post("index.php?p=show&c=gongwen&a=sheheGw",{gwId:gwTd},function (data) {
            if (data==200){
                layer.open({
                    content: '审核通过！',
                    btn: ['确认'],
                    yes: function(index, layero) {
                        // window.location.href="http://www.qy.com/index.php?p=show&c=gongwen&a=accept&zlId=<?=$gwData['zhuanlan']?>";
                        window.history.back()
                    },
                });
            }else {
                layer.open({
                    content: '审核失败！',
                    btn: ['确认'],
                    yes: function(index, layero) {
                        location.reload();
                    },
                });
            }
        })
        return false;
    })
</script>
<!--推荐公文-->
<script type="text/javascript">
    $("#tuijian").click(function () {
        var id = $(this).attr("gwId");
        $.post("index.php?p=show&c=gongwen&a=tuijianGw",{gwId:id},function (data) {
            if (data==200){
                layer.open({
                    content: '推荐成功！',
                    btn: ['确认'],
                    yes: function(index, layero) {
                        // window.location.href="http://www.qy.com/index.php?p=show&c=gongwen&a=accept&zlId=<?=$gwData['zhuanlan']?>";
                        window.history.back()
                    },
                });
            }else {
                layer.open({
                    content: '推荐失败！',
                    btn: ['确认'],
                    yes: function(index, layero) {
                        location.reload();
                    },
                });
            }
        })
    })
</script>
</body>
</html>