<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title><?=self::$title?></title>
    <link rel="stylesheet" href="public/yz/css/css.css" />
    <link href="public/yz/css/mobiscroll_002.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="public/yz/js/jquery-1.9.1.min.js" ></script>
    <script type="text/javascript" src="public/yz/js/script.js" ></script>
    <script src="public/yz/js/mobiscroll_002.js" type="text/javascript"></script>
    <script src="public/yz/js/mobiscroll.js" type="text/javascript"></script>

    <link rel="stylesheet" href="public/layer/theme/default/layer.css">
    <script src="public/layer/layer.js" type="text/javascript"></script>

    <!--[if lte IE 9]>
    <script type="text/javascript" src="https://cdn.bootcss.com/respond.js/1.4.2/respond.js" ></script>
    <![endif]-->
</head>
<style>
    .table-tai{width:auto !important;}
</style>
<body class="body">

<!--header-->
<?php include CUR_VIEW_PATH."Spublic/header.html";?>
<div class="xt-ycatou"></div>

<?php include CUR_VIEW_PATH."Spublic/bianlan.html";?>

<!--neirongbianji-->
<div class="body-edit box">
    <div class="edit-top">
        <img src="public/yz/images/nei-dinwei_03.png"/>
        <a href="javascript:void(0)">系统主页</a>
        <em>&gt;</em>
        <a href="javascript:void(0)">公文</a>
        <em>&gt;</em>
        发送列表
    </div>

    <div class="xt-wenzhan">
        <div class="xtwenz-time">
            <form action="index.php?p=show&c=gongwen&a=list" style="height: 100%" method="get" id="sousuoForm">
            <div class="xtwen-input box time-ico">
                <input type="text" name="date1" id="appDate" value="<?=$date1 ?>" />
            </div>
            <span class="fl">至</span>
            <div class="xtwen-input box time-ico">
                <input type="text" name="date2" id="appDate1" value="<?=$date2 ?>" />
            </div>
            <div class="xtwen-input inp-xia box fl" style="margin-left:16px;">
                <input type="text" name="zhuanlan" id="zhuanlan" value="<?=$_GET['zhuanlan']?$_GET['zhuanlan']:'所有' ?>" class="edit-inwidt" readonly placeholder="工作专栏"/>
                <div class="adit-xuan box">
                    <?php if($flData):?>
                    <p>所有</p>
                    <?php foreach($flData as $fl):?>
                    <p><?=$fl["mingcheng"]?></p>
                    <?php endforeach;?>
                    <?php endif;?>
                </div>
            </div>
            <div class="xtwen-input inp-xia box fl" style="margin-left:16px;">
                <input type="text" name="zhuangtai" id="zhuangtai" value="<?=$_GET['zhuangtai']?$_GET['zhuangtai']:'所有' ?>" class="edit-inwidt" readonly placeholder="选择状态"/>
                <div class="adit-xuan box">
                    <p>所有</p>
                    <p>正常</p>
                    <p>已过期</p>
                </div>
            </div>
            <div class="xtwen-sou xtwen-input fl box">
                <input type="text" name="guanjianci" id="guanjianci" value="<?=$_GET['guanjianci']?$_GET['guanjianci']:'' ?>" placeholder="关键字收索"/>
                <a class="sousuo" href="javascript:void(0)"><img src="public/yz/images/wenzi-sou_03.png"/></a>
            </div>

            <a href="index.php?p=show&c=gongwen&a=edit"><div class="xtwen-fabu fr">+ 发布公文</div></a>
            </form>
        </div>

        <div class="xtable">
            <table>
                <tr>
                    <th>排序</th>
                    <th>标题</th>
                    <th>工作专栏</th>
                    <!--<th>抄送人</th>-->
                    <th>发送时间</th>
                    <th>截至时间</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                <?php if(!empty($gongwenData)):?>
                    <?php foreach($gongwenData as $gongwen):?>
                        <tr>
                            <td class="table-paixu">
                                <em class="box" nameid="<?=$gongwen['id']?>"></em>
                                <span>1</span>
                            </td>
                            <td class="table-biaoti" >
                                <p><?=$gongwen["biaoti"]?></p>
                            </td>
                            <td class="table-zou">
                                <?=self::getZlNameAction($gongwen["zhuanlan"])?>
                            </td>
                            <!--<td class="table-ren">-->
                                <!--<p>-->
                                    <!--<?=self::getJsrAction($gongwen["id"])?>-->
                                <!--</p>-->
                            <!--</td>-->
                            <td class="table-time">
                                <?=$gongwen["dtime"]?>
                            </td>
                            <td class="table-time">
                                <?=date("Y-m-d H:i:s",$gongwen["jiezhishijian"])?>
                            </td>
                            <td class="table-tai"><?=time()>=$gongwen["jiezhishijian"]?"已过期":"正常" ?></td>
                            <td class="table-cao">
                                <a href="index.php?p=show&c=gongwen&a=sendDetail&id=<?=$gongwen['id']?>"><img src="public/yz/images/look_07.png"/>查看</a>
                                <a href="index.php?p=show&c=gongwen&a=edit&id=<?=$gongwen['id']?>"><img src="public/yz/images/look1_06.png"/>编辑</a>
                                <a href="javascript:void(0)" class="deleteSingle" deleteId="<?=$gongwen['id']?>"><img src="public/yz/images/lock2_08.png"/>删除</a>
                            </td>
                        </tr>
                    <?php endforeach;?>
                <?php endif;?>
            </table>
        </div>
        <div class="xt-quanxuan fl">
            <p><em class="box"></em>全选</p>
            <span id="piliangshanchu"><img src="public/yz/images/lock2_08.png"/>删除</span>
        </div>
        <div class="page fr" style="margin-top:24px;">
            <?php
              echo "<a href='index.php?p=show&c=gongwen&a=list&page=1{$url}'>首页</a>";
                    for($i=$init;$i<=$max;$i++){
                        if($page == $i){
                            echo  "<strong>".$i."</strong>";
                        }else{
                            echo  "<a href='index.php?p=show&c=gongwen&a=list&page=".$i."{$url}'>".$i."</a>";
                        }
                    }
                echo  "<a href='index.php?p=show&c=gongwen&a=list&page=".($page+1)."{$url}'>下一页</a>";
            ?>
        </div>
    </div>
</div>




<script>
    $(".adit-xuan p").on("click",function(){
        $(this).parent().siblings().val($(this).text());
        $(this).parent().slideUp();
    })

    $(".inp-xia input").on("click",function(){
        $(this).siblings().slideToggle();
    })

</script>

<script type="text/javascript">
    for (var i=0; i<=$(".xtable tr").length-1; i++) {
        $(".xtable tr:eq("+(i+1)+")").find(".table-paixu span").text(i+1);

        if($(".xtable tr:eq("+(i+1)+")").find(".table-tai").text()=="已过期"){
            $(".xtable tr:eq("+(i+1)+")").find(".table-tai").css("color","#e83014")
        }
    }

    $(".table-paixu em").on("click",function(){
        $(this).toggleClass("em-add");
    })

    $(".xt-quanxuan p").on("click",function(){
        $(this).find("em").toggleClass("em-add");
        if($(this).find("em").attr("class").indexOf("em-add")>-1){
            $(".table-paixu em").addClass("em-add");
        }else{
            $(".table-paixu em").removeClass("em-add");
        }

    })


</script>
<script type="text/javascript">
    $(function() {
        var oDate = new Date();
        var currYear = (new Date()).getFullYear();
        var opt = {};
        opt.date = {
            preset: 'date'
        };

        opt.datetime = {
            preset: 'datetime'
        };
        opt.time = {
            preset: 'time'
        };

        opt.default = {
            theme: 'android-ics light', //皮肤样式
            display: 'modal', //显示方式
            mode: 'scroller', //日期选择模式
            dateFormat: 'yyyy-mm-dd',
            lang: 'zh',
            showNow: true,
            nowText: "今天",
            startYear: currYear - 10, //开始年份
            endYear: currYear + 10 //结束年份
        };

        $("#appDate").mobiscroll($.extend(opt['date'], opt['default']));
        $("#appDate1").mobiscroll($.extend(opt['date'], opt['default']));
        var optDateTime = $.extend(opt['datetime'], opt['default']);
    });
</script>
<!--删除（单个）-->
<script type="text/javascript">
    $(".deleteSingle").click(function () {
        //>>获取当前公文Id
        var id = $(this).attr("deleteId");
        //>>删除公文
        $.post("index.php?p=show&c=gongwen&a=deleteSingle",{id:id},function (data) {
            if (data.code==200){
                location.reload()
            }else {
                layer.alert("删除失败："+data.message)
            }
        },"json")
    })
</script>
<!--删除（批量）-->
<script type="text/javascript">
        $("#piliangshanchu").click(function () {
            var lists = $("em[class='box em-add']");
            var ids = new Array();
            var i = 0;
            lists.each(function () {
                ids[i] =  $(this).attr("nameid")
                i++;
            });
            if (ids.length==0){
                layer.alert("请选择要删除的选项")
                return false;
            }
            $.post('index.php?p=show&c=gongwen&a=deletePiliang',{'data[]':ids},function (data) {
                if(data.code==200){
                    //>>删除成功
                    location.reload()
                }
            },"json")
        })
</script>
<!--搜索-->
<script type="text/javascript">
    $(".sousuo").click(function () {
        var date1=$("#appDate").val();
        var date2=$("#appDate1").val();
        var zhuanlan=$("#zhuanlan").val();
        var zhuangtai=$("#zhuangtai").val();
        var guanjianci=$("#guanjianci").val();
        var str= "";
        if (date1 != ""){
            str += "&date1="+date1;
        }
        if (date2 != ""){
            str += "&date2="+date2;
        }
        if (zhuanlan != ""){
            str += "&zhuanlan="+zhuanlan;
        }
        if (zhuangtai != ""){
            str += "&zhuangtai="+zhuangtai;
        }
        if (guanjianci != ""){
            str += "&guanjianci="+guanjianci;
        }
        window.location.href="index.php?p=show&c=gongwen&a=list"+str;
    })
</script>
</body>
</html>
