<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title><?=self::$title?></title>
    <link rel="stylesheet" href="public/yz/css/css.css" />
    <link href="public/yz/css/mobiscroll_002.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="public/yz/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="public/yz/js/script.js"></script>
    <script src="public/yz/js/mobiscroll_002.js" type="text/javascript"></script>
    <script src="public/yz/js/mobiscroll.js" type="text/javascript"></script>

    <link rel="stylesheet" href="public/layer/theme/default/layer.css">
    <script src="public/layer/layer.js" type="text/javascript"></script>

    <!--文本编辑器-->
    <link rel="stylesheet" href="public/kindeditor/themes/default/default.css" />
    <link rel="stylesheet" href="public/kindeditor/plugins/code/prettify.css" />
    <script charset="utf-8" src="public/kindeditor/kindeditor-all.js"></script>
    <script charset="utf-8" src="public/kindeditor/lang/zh-CN.js"></script>
    <script charset="utf-8" src="public/kindeditor/plugins/code/prettify.js"></script>
    <script>
        KindEditor.ready(function(K) {
            var editor1 = K.create('textarea[name="content1"]', {
                cssPath : 'public/kindeditor/plugins/code/prettify.css',
                uploadJson : 'public/kindeditor/php/upload_json.php',
                fileManagerJson : 'public/kindeditor/php/file_manager_json.php',
                allowFileManager : true,
                afterCreate : function() {
                    var self = this;
                    K.ctrl(document, 13, function() {
                        self.sync();
                        K('form[name=example]')[0].submit();
                    });
                    K.ctrl(self.edit.doc, 13, function() {
                        self.sync();
                        K('form[name=example]')[0].submit();
                    });
                }
            });
            prettyPrint();
        });
    </script>


    <!--[if lte IE 9]>
    <script type="text/javascript" src="https://cdn.bootcss.com/respond.js/1.4.2/respond.js" ></script>
    <![endif]-->

</head>

<body class="body">

<!--header-->
<?php include CUR_VIEW_PATH."Spublic/header.html";?>

<div class="xt-ycatou"></div>
<!--边栏-->
<?php include CUR_VIEW_PATH."Spublic/bianlan.html";?>

<!--neirongbianji-->
<div class="body-edit box">
    <div class="edit-top">
        <img src="public/yz/images/nei-dinwei_03.png" />
        <a href="javascript:void(0)">系统主页</a>
        <em>&gt;</em>
        <a href="javascript:void(0)">公文</a>
        <em>&gt;</em> 编辑公文
    </div>

    <div class="edit-input box">
        <form id="myfrom" action="index.php?p=show&c=gongwen&a=editAdmin" method="get" enctype="multipart/form-data">
            <input type="hidden" name="id" value="<?=!empty($gwData['id'])?$gwData['id']:'' ?>">
            <div class="edit-sse">
                <span>公文标题</span>
                <input type="text" name="biaoti" id="biaoti" value="<?=!empty($gwData['biaoti'])?$gwData['biaoti']:'' ?>" style="width:600px;" />
                <em>*请输入公文的标题，标题最多50字</em>
            </div>
            <div class="edit-sse">
                <span>公文编号</span>
                <input type="text" name="bianhao" id="bianhao" value="<?=!empty($gwData['bianhao'])?$gwData['bianhao']:'' ?>" style="width:600px;" />
                <em>*请按照公文标签的编号进行输入</em>
            </div>
            <div class="edit-sse relative fl">
                <span>工作专栏</span>
                <div class="inp-xia">
                    <input type="text" name="zhuanlan" id="zhuanlan" value="<?=!empty($gwData['zhuanlan'])?self::getZlNameAction($gwData['zhuanlan']):''  ?> " class="edit-inwidt" readonly/>
                    <div class="adit-xuan box" style="z-index: 10000">
                        <?php if($flData):?>
                        <?php foreach($flData as $fl):?>
                        <p><?=$fl["mingcheng"]?></p>
                        <?php endforeach;?>
                        <?php endif;?>
                    </div>
                </div>
            </div>
            <div class="edit-sse relative fl">
                <span>截止时间</span>
                <div class="time-ico">
                    <input type="text" name="jiezhishijian" id="appDateTime" value="" class="edit-inwidt" />
                </div>
            </div>
            <div class="clear"></div>

            <div class="edit-sse relative" style="overflow: hidden; height:auto;">
                <span>文章正文</span>
            </div>
            <script id="container" name="neirong" id="neirong" type="text/plain" style="height:700px;width: 1000px;">
                <?=!empty($gwData['neirong'])?$gwData['neirong']:'' ?>
            </script>
            <!-- 配置文件 -->
            <script type="text/javascript" src="public/ueditor/ueditor.config.js"></script>
            <!-- 编辑器源码文件 -->
            <script type="text/javascript" src="public/ueditor/ueditor.all.js"></script>
            <!-- 实例化编辑器 -->
            <script type="text/javascript">
                var ue = UE.getEditor('container');
            </script>
            <div class="edit-sse relative" style="overflow: hidden; height:auto; margin:20px 0;"></div>


            <div class="edit-sse" style="overflow: hidden; height:auto;">
                <span>抄送人</span>
                <div class="edit-duoxuan">
                    <?php if($jsrys):?>
                        <?php foreach($jsrys as $jsry):?>
                            <label><em nameid="<?=$jsry['id']?>" class="<?=!empty($gwData['id'])?self::isfasongAction($jsry['id'],$gwData['id']):''   ?>"></em><?=$jsry["xingming"]?></label>
                        <?php endforeach;?>
                    <?php endif;?>
                </div>
            </div>

            <div class="edit-sse">
                <div class="edit-rideo">
                    <p><em></em>全选</p>
                    <p><em></em>反选</p>
                </div>
            </div>

            <div class="edit-quedin">
                <a id="baocun" href="javascript:void(0)">确认操作</a>
            </div>
        </form>
    </div>
</div>

<script>


    $(".edit-duoxuan label").on("click", function() {
        $(this).find("em").toggleClass("em-add");
    })

    $(".edit-rideo p").on("click",function(){
        if($(this).index()==0){
            $(this).find("em").toggleClass("em-add").parent().siblings().find("em").removeClass("em-add");
            if($(this).find("em").attr("class").indexOf("em-add")>-1){
                $(".edit-duoxuan em").addClass("em-add");
            }else{
                $(".edit-duoxuan em").removeClass("em-add");
            }
        }else if($(this).index()==1){
            $(this).find("em").addClass("em-add").parent().siblings().find("em").removeClass("em-add");
            $(".edit-duoxuan label").each(function(){
                if($(this).find("em").attr("class")=="em-add"){
                    $(this).find("em").removeClass("em-add");
                }else{
                    $(this).find("em").addClass("em-add");
                }

            })
        }

    })

    $(".edit-inwidt").on("click", function() {
        $(this).siblings(".adit-xuan").slideToggle();
    })
    $(".adit-xuan p").on("click",function(){
        $(this).parent().siblings().val($(this).text());
        $(this).parent().slideUp();
    })

</script>

<script type="text/javascript">
    $(function() {
        var oDate = new Date();
        var currYear = (new Date()).getFullYear();
        var opt = {};
        opt.date = {
            preset: 'date'
        };

        opt.datetime = {
            preset: 'datetime'
        };
        opt.time = {
            preset: 'time'
        };

        opt.default = {
            theme: 'android-ics light', //皮肤样式
            display: 'modal', //显示方式
            mode: 'scroller', //日期选择模式
            dateFormat: 'yyyy-mm-dd',
            lang: 'zh',
            showNow: true,
            nowText: "今天",
            startYear: currYear - 10, //开始年份
            endYear: currYear + 10 //结束年份
        };

        var optDateTime = $.extend(opt['datetime'], opt['default']);
        console.log()
        $("#appDateTime").mobiscroll(optDateTime).datetime(optDateTime);

        $("#appDateTime").val(oDate.getFullYear() + "-" + (oDate.getMonth() + 1) + "-" + oDate.getDate() + " " + oDate.getHours() + ":" + oDate.getMinutes() + ":" + oDate.getSeconds())
    });
</script>

<!--保存公文-->
<script type="text/javascript">
    $("#baocun").click(function () {
        var form = new FormData(document.getElementById("myfrom"));
        var biaoti = $("#biaoti").val();
        var bianhao = $("#bianhao").val();
        var id = $("#gwId").val();
        if (biaoti==""){
            layer.alert("标题不能为空")
            return false;
        }
        if (bianhao==""){
            layer.alert("编号不能为空")
            return false;
        }
        if (ue.hasContents()==false){
            layer.alert("内容不能为空")
            return false;
        }

        var lists = $("em[class='em-add']");
        var ids = new Array();
        var i = 0;
        lists.each(function () {
            if ($(this).attr("nameid")){
                ids[i] = $(this).attr("nameid")
            }
            i++;
        });
//        if (ids.length==0){
//            layer.alert("请选择抄送人")
//            return false;
//        }

        $.ajax({
            url:"index.php?p=show&c=gongwen&a=editAdmin",
            type:"post",
            data:form,
            cache: false,
            processData: false,
            contentType: false,
            success:function(data){
                if (data != 500){
                    //>>保存成功
                    // layer.alert("保存成功")
                    // window.location.href='http://www.qy.com/index.php?p=show&c=gongwen&a=list';
                    $.post("index.php?p=show&c=gongwen&a=setJsr",{gwId:data,jsrs:ids},function (data) {
                        layer.open({
                            content: '保存成功！',
                            btn: ['确认'],
                            yes: function(index, layero) {
                                // window.location.href='index.php?p=show&c=article&a=list';
                                window.history.back()
                            },
                        });
                    });
                }
            },
            error:function(e){
                layer.alert("保存失败")
                return false;
            }
        })
    })
</script>

</body>

</html>