<!DOCTYPE html>
<html>
<?php include CUR_VIEW_PATH."Spublic/wap_head.html";?>
<body style="background:#e3e3e3;">

<div class="max">

    <?php include CUR_VIEW_PATH."Spublic/wap_head_ei.html";?>

    <!--neirong-->
    <div class="xt-neirong">
        <div class="container">
            <div class="cakan-list">
                <ul>
                    <li>
                        <span>公文标题：</span>
                        <p><?=$gwData["biaoti"]?></p>
                    </li>
                    <li>
                        <span>公文编号：</span>
                        <p><?=$gwData["bianhao"]?></p>
                    </li>
                    <li>
                        <span>工作专栏：</span>
                        <p><?=self::getZlNameAction($gwData["zhuanlan"])?></p>
                    </li>
                    <li>
                        <span>公文来源：</span>
                        <p><?=self::getCunMingchengAction($gwData["xiangzhen"])."-".self::getCunMingchengAction($gwData["cun"])?></p>
                    </li>
                    <li>
                        <span>抄送人：</span>
                        <p><?=self::getfsrAction($gwData["zuozhe"])?></p>
                    </li>
                    <li>
                        <span>更新时间：</span>
                        <p><?=$gwData["dtime"]?></p>
                    </li>
                    <li>
                        <span>发送时间：</span>
                        <p><?=date("Y-m-d H:i:s",(int)$gwData["sendTime"])?></p>
                    </li>
                    <li>
                        <span style="line-height:1.3rem;">缩略图：</span>
                        <p><img src="<?=$gwData['tupian']?>" style=" width:3.03rem;height:1.32rem;"/></p>
                    </li>
                    <li style="border-bottom:none;">
                        <span class="fl">文章正文：</span>
                        <div class="ck-liwen fr" style="width:100%;">
                            <?=$gwData["neirong"]?>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div style="height:0.2rem;"></div>
</div>

<!--tuijiankuang -->

<script>
    $(".tui-dao input").on("click",function(){
        $(this).siblings(".tui-libiao").slideToggle();
    })
    $(".tui-libiao p").on("click",function(){
        $(this).parent().siblings("input").val($(this).text());
        $(this).parent().slideUp();
    })

    $(".tui-quequ").on("click",function(){
        $(".pixd-tui").hide();
    })
</script>
</body>
</html>