<!DOCTYPE html>
<html>
<?php include CUR_VIEW_PATH."Spublic/wap_head.html";?>
<body style="background:#f5f5f6;">

<div class="max">

    <?php include CUR_VIEW_PATH."Spublic/wap_head_ei.html";?>

    <!--neirong-->
    <div class="fabu-input">
        <div class="container">
            <form id="myform">
                <input type="hidden" name="id" id="gwId" value="<?=!empty($gwData['id'])?$gwData['id']:'' ?>">
                <input type="text" name="biaoti" id="biaoti" value="<?=!empty($gwData['biaoti'])?$gwData['biaoti']:'' ?>" placeholder="公文标题" class="input-li"/>
                <input type="text" name="bianhao" id="bianhao" value="<?=!empty($gwData['bianhao'])?$gwData['bianhao']:'' ?>" placeholder="公文编号" class="input-li"/>
                <div class="div-fabu">
                    <input type="text" name="zhuanlan" id="zhuanlan" value="<?=!empty($gwData['zhuanlan'])?self::getZlNameAction($gwData['zhuanlan']):''  ?>" placeholder="工作专栏" class="input-li" readonly/>
                    <div class="div-fabux" style="z-index: 10000">
                        <?php if($flData):?>
                        <?php foreach($flData as $fl):?>
                        <p class="model"><?=$fl["mingcheng"]?></p>
                        <?php endforeach;?>
                        <?php endif;?>
                    </div>
                </div>
                <div class="div-fabu">
                    <input type="text" name="xiangzhen" id="xiangzhen" value="<?=!empty($gwData['xiangzhen'])?self::getCunMingchengAction($gwData['xiangzhen']):self::getCunMingchengAction($bumen)  ?>" placeholder="乡镇" class="input-li" readonly/>
                    <div class="div-fabux">
                    </div>
                </div>
                <div class="div-fabu">
                    <input type="text" name="cun" id="cun" value="<?=!empty($gwData['cun'])?self::getCunMingchengAction($gwData['cun']):''  ?>" placeholder="村" class="input-li" readonly/>
                    <div class="div-fabux" style="z-index: 10000">
                        <?php if($cunData):?>
                        <?php foreach($cunData as $cun):?>
                        <p><?=$cun["mingcheng"]?></p>
                        <?php endforeach;?>
                        <?php endif;?>
                    </div>
                </div>
                <div class="div-fabu">
                    <input type="text" name="" id="" value="<?=!empty($gwData['tupian'])?basename($gwData['tupian']):'' ?>" placeholder="上传缩略图" class="input-li"/>
                    <div class="shanchuan">
                        上传
                        <input type="file" name="tupian" id="tupian" value="" />
                    </div>
                </div>
                <script id="container" name="neirong" id="neirong" type="text/plain" style="height:700px;width: 100%;">
                    <?=!empty($gwData['neirong'])?$gwData['neirong']:'' ?>
                </script>
                <!-- 配置文件 -->
                <script type="text/javascript" src="public/ueditor/ueditor.config.js"></script>
                <!-- 编辑器源码文件 -->
                <script type="text/javascript" src="public/ueditor/ueditor.all.js"></script>
                <!-- 实例化编辑器 -->
                <script type="text/javascript">
                    var ue = UE.getEditor('container');
                </script>

                <div class="cakan-adit cakan-adits">
                    <div class="container">
                        <p>
                            <a id="baocun" href="javascript:void(0)" class="heshi box" gwStatus="<?=!empty($gwData['zhuangtai'])?$gwData['zhuangtai']:'' ?>">保存</a>
                            <a id="fabugongwen" href="javascript:void(0)" gwStatus="<?=!empty($gwData['zhuangtai'])?$gwData['zhuangtai']:'' ?>">发送公文</a>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>




    <div style="height:0.2rem;"></div>


</div>
<script>
    $(".ck-state tr").each(function(){
        if($(this).find(".state-te em").text()=="未完成"){
            $(this).find(".state-te img").show();
            $(this).find(".state-te em").css("color","#9d9d9d");
        }
    })
</script>
<!--保存数据-->
<script type="text/javascript">
    $("#baocun").click(function () {
        var gwStatus = $(this).attr("gwStatus");
        if (gwStatus==2){
            layer.alert("该公文已发送，不能修改");
            return false;
        }
        if (gwStatus==4){
            layer.alert("该公文已发送，不能修改");
            return false;
        }
        if (gwStatus==5){
            layer.alert("该公文已发送，不能修改");
            return false;
        }
        var form = new FormData(document.getElementById("myform"));
        var biaoti = $("#biaoti").val();
        var bianhao = $("#bianhao").val();
        var id = $("#gwId").val();
        var cun = $("#cun").val();
        if (biaoti==""){
            layer.alert("标题不能为空")
            return false;
        }
        if (bianhao==""){
            layer.alert("编号不能为空")
            return false;
        }
        if (ue.hasContents()==false){
            layer.alert("内容不能为空")
            return false;
        }
        if (cun==""){
            layer.alert("请选择来源")
            return false;
        }
        // console.log(form);return;
        $.ajax({
            url:"index.php?p=show&c=gongwen&a=editHuiyuan",
            type:"post",
            data:form,
            cache: false,
            processData: false,
            contentType: false,
            async:false,
            success:function(data){
                if (data != false){
                    layer.open({
                        content: '保存成功！',
                        btn: ['确认'],
                        yes: function(index, layero) {
                            // window.location.href='index.php?p=show&c=article&a=list';
                            window.history.back()
                        },
                    });
                }else {
                    layer.alert("保存失败")
                    return false;
                }
            },
            error:function(e){
                layer.alert("保存失败")
                return false;
            }
        })
    })
</script>
<!--发送公文-->
<script type="text/javascript">
    $("#fabugongwen").click(function () {
        var gwStatus = $(this).attr("gwStatus");
        if (gwStatus==2){
            layer.alert("该公文已发送，勿重新发送");
            return false;
        }
        if (gwStatus==4){
            layer.alert("该公文已发送，勿重新发送");
            return false;
        }
        if (gwStatus==5){
            layer.alert("该公文已发送，勿重新发送");
            return false;
        }
        var form = new FormData(document.getElementById("myform"));
        var biaoti = $("#biaoti").val();
        var bianhao = $("#bianhao").val();
        var id = $("#gwId").val();
        var cun = $("#cun").val();
        if (biaoti==""){
            layer.alert("标题不能为空")
            return false;
        }
        if (bianhao==""){
            layer.alert("编号不能为空")
            return false;
        }
        if (ue.hasContents()==false){
            layer.alert("内容不能为空")
            return false;
        }
        if (cun==""){
            layer.alert("请选择来源")
            return false;
        }
        // console.log(form);return;
        $.ajax({
            url:"index.php?p=show&c=gongwen&a=editHuiyuan",
            type:"post",
            data:form,
            cache: false,
            processData: false,
            contentType: false,
            async:false,
            success:function(data){
                if (data != false){
                    var id = data;
                    $.post("index.php?p=show&c=gongwen&a=fasong",{"gwId":id},function (data) {
                        if (data==200){
                            layer.open({
                                content: '发送成功！',
                                btn: ['确认'],
                                yes: function(index, layero) {
                                    // window.location.href='index.php?p=show&c=article&a=list';
                                    window.history.back()
                                },
                            });
                        }else {
                            layer.open({
                                content: '发送失败！',
                                btn: ['确认'],
                                yes: function(index, layero) {
                                    location.reload();
                                },
                            });
                        }
                    },"json")
                }else {
                    layer.alert("发送失败")
                    return false;
                }
            },
            error:function(e){
                layer.alert("保存失败")
                return false;
            }
        })
    })
</script>
<script type="text/javascript">
    $(".model").click(function () {
        var gwId = $("#gwId").val();
        if(gwId==""){
            var zhuanlanName = $(this).text()
            $.post("index.php?p=show&c=gongwen&a=getZlModel",{name:zhuanlanName},function (data) {
                setTimeout(function () {
                    ue.setContent(data)
                },1000)
            },"json")
        }
    })
</script>
</body>
</html>
