<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="public/yz/css/css.css" />
    <link href="public/yz/css/mobiscroll_002.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="public/layer/theme/default/layer.css">
    <script type="text/javascript" src="public/yz/js/jquery-1.9.1.min.js" ></script>
    <script type="text/javascript" src="public/yz/js/script.js" ></script>
    <script src="public/yz/js/mobiscroll_002.js" type="text/javascript"></script>
    <script src="public/yz/js/mobiscroll.js" type="text/javascript"></script>
    <script src="public/layer/layer.js" type="text/javascript"></script>
    <!--[if lte IE 9]>
    <script type="text/javascript" src="https://cdn.bootcss.com/respond.js/1.4.2/respond.js" ></script>
    <![endif]-->
    <style>
        .xtable table td{color:#6f6f6f; font-size:13px; font-weight:200;}
        .page{margin-top: 24px;}
    </style>
</head>
<body class="body">

<!--header-->
<?php include CUR_VIEW_PATH."Spublic/header.html";?>

<div class="xt-ycatou"></div>

<!--边栏-->
<?php include CUR_VIEW_PATH."Spublic/bianlan.html";?>

<!--neirongbianji-->
<div class="body-edit box">
    <div class="edit-top">
        <img src="public/yz/images/nei-dinwei_03.png"/>
        <a href="">系统主页</a>
        <em>&gt;</em>
        <a href="">公文</a>
        <em>&gt;</em>
        发文章
    </div>

    <div class="xt-wenzhan">
        <div class="xtwenz-time">
            <div class="xtwen-sou xtwen-input fl box">
                <input type="" name="" id="" value="" placeholder="关键字收索"/>
                <a href=""><img src="public/yz/images/wenzi-sou_03.png"/></a>
            </div>

            <div class="xtwen-fabu fr">+ 添加人员</div>
        </div>

        <div class="xtable">
            <table>
                <tr>
                    <th>排序</th>
                    <th>姓名</th>
                    <th>手机号码</th>
                    <th>所属部门</th>
                    <th>员工状态</th>
                    <th>操作</th>
                </tr>
                <?php  if($adminDatas):?>
                    <?php foreach($adminDatas as $adminData):?>
                    <tr>
                        <td class="table-paixu">
                            <em class="box" nameid="<?=$adminData['id']?>"></em>
                            <span>1</span>
                        </td>
                        <td>
                            <p><?=$adminData['xingming']?></p>
                        </td>
                        <td>
                            <?=$adminData['shoujihaoma']?>
                        </td>
                        <td>
                            <?=$adminData['bumen']?>
                        </td>
                        <td>
                            <?=$adminData['zhuangtai']==1?"在职":"离职"?>
                        </td>
                        <td class="table-cao">
                            <a href=""><img src="public/yz/images/look_07.png"/>查看</a>
                            <a href="javascript:void(0)" nameid="<?=$adminData['id']?>" class="edit"><img src="public/yz/images/look1_06.png"/>编辑</a>
                            <a href="javascript:void(0)" class="deleteSingle" nameid="<?=$adminData['id']?>"><img src="public/yz/images/lock2_08.png"/>删除</a>
                        </td>
                    </tr>
                    <?php endforeach;?>
                <?php endif;?>
            </table>
        </div>
        <div class="xt-quanxuan fl">
            <p><em class="box"></em>全选</p>
            <span id="piliangshanchu"><img src="public/yz/images/lock2_08.png"/>删除</span>
        </div>
        <div class="page fr">
            <a href="">首页</a>
            <strong>1</strong>
            <a href="">2</a>
            <a href="">3</a>
            <a href="">4</a>
            <a href="">5</a>
            <a href="">6</a>
            <em>···</em>
            <a href="">22</a>
            <a href="">下一页</a>
        </div>
    </div>
</div>

<!--弹出框-->
<div class="tanchu fixed">
    <div class="table">
        <div class="table-cell">
            <div class="Add-to">
                <div class="add-top">
                    <span>添加人员</span>
                    <img src="public/yz/images/Close_03.png" class="Close"/>
                </div>
                <form id="myform" method="post">
                    <input type="hidden" name="id" id="id">
                    <div class="add-toinput">
                        <div class="add-min">
                            <span><em>*</em> 登录账号：</span>
                            <input type="text" name="zhanghao" id="zhanghao" value="" />
                        </div>
                        <div class="add-min">
                            <span><em>*</em> 密码：</span>
                            <input type="password" name="mima" id="mima" value="" />
                        </div>
                        <div class="add-min">
                            <span><em>*</em> 姓名：</span>
                            <input type="text" name="xingming" id="xingming" value="" />
                        </div>
                        <div class="add-min">
                            <span><em>*</em> 所属部门：</span>
                            <div class="add-xiala inp-xia relative">
                                <input type="text" name="bumen" id="bumen" value="" readonly class="xiala"/>
                                <div class="adit-xuan box">
                                    <?php if($bumenData):?>
                                    <?php foreach($bumenData as $bumen):?>
                                        <p><?=$bumen["laiyuan"]?></p>
                                    <?php endforeach;?>
                                    <?php endif;?>
                                </div>
                            </div>
                        </div>
                        <div class="add-min">
                            <span><em>*</em> 手机号码：</span>
                            <input type="number" name="shoujihaoma" id="shoujihaoma" value="" />
                        </div>
                        <div class="add-min">
                            <span>联系电话：</span>
                            <input type="number" name="dianhua" id="dianhua" value="" />
                        </div>
                        <div class="add-min">
                            <span><em>*</em> 管理员：</span>
                            <div class="add-xiala inp-xia relative">
                                <input type="text" name="guanliyuan" id="guanliyuan" value="" readonly class="xiala"/>
                                <div class="adit-xuan box">
                                    <p>是</p>
                                    <p>否</p>
                                </div>
                            </div>
                        </div>
                        <div class="add-min">
                            <span>员工状态：</span>
                            <div class="add-xiala inp-xia relative">
                                <input type="text" name="zhuangtai" id="zhuangtai" value="" readonly class="xiala"/>
                                <div class="adit-xuan box">
                                    <p>在职</p>
                                    <p>离职</p>
                                </div>
                            </div>
                        </div>
                        <div class="add-baos ">
                            <input type="button" name="submit" id="baocun" value="保存" class="add-bao"/>
                        </div>
                </form>

                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(".adit-xuan p").on("click",function(){
        $(this).parent().siblings().val($(this).text());
        $(this).parent().slideUp();
    })

    $(".inp-xia input").on("click",function(){
        $(this).siblings().slideToggle();
    })

</script>

<script type="text/javascript">
    for (var i=0; i<=$(".xtable tr").length-1; i++) {
        $(".xtable tr:eq("+(i+1)+")").find(".table-paixu span").text(i+1);
    }

    $(".table-paixu em").on("click",function(){
        $(this).toggleClass("em-add");
    })

    $(".xt-quanxuan p").on("click",function(){
        $(this).find("em").toggleClass("em-add");
        if($(this).find("em").attr("class").indexOf("em-add")>-1){
            $(".table-paixu em").addClass("em-add");
        }else{
            $(".table-paixu em").removeClass("em-add");
        }

    })

    $(".xtwen-fabu").on("click",function(){
        $(".tanchu").show(200);
    })

    $(".Close").on("click",function(){
        $(".tanchu").hide(200);
    })

</script>
<!--添加人员-->
<script type="text/javascript">
    $("#baocun").click(function () {
        var form = new FormData(document.getElementById("myform"));
        var zhanghao = $("#zhanghao").val();
        var mima = $("#mima").val();
        var xingming = $("#xingming").val();
        var bumen = $("#bumen").val();
        var shoujihaoma = $("#shoujihaoma").val();
        var guanliyuan = $("#guanliyuan").val();
        if (zhanghao==""){
            layer.alert("登录账号不能为空")
            return false;
        }
        if (mima==""){
            layer.alert("密码不能为空")
            return false;
        }
        if (xingming==""){
            layer.alert("姓名不能为空")
            return false;
        }
        if (bumen==""){
            layer.alert("部门不能为空")
            return false;
        }
        if (shoujihaoma==""){
            layer.alert("手机号码不能为空")
            return false;
        }
        if (guanliyuan==""){
            layer.alert("请选择是否为管理员")
            return false;
        }
        $.ajax({
            url:"index.php?p=show&c=admin&a=add",
            type:"post",
            data:form,
            cache: false,
            processData: false,
            contentType: false,
            success:function(data){
                if (data != 500){
                    //>>保存成功
                    // layer.alert("保存成功")
                    // window.location.href='http://www.qy.com/index.php?p=show&c=gongwen&a=list';
                    layer.open({
                        content: '保存成功！',
                        btn: ['确认'],
                        yes: function(index, layero) {
                            location.reload()
                        },
                    });
                }
            },
            error:function(e){
                layer.alert("保存失败")
                return false;
            }
        })
    })
</script>
<!--编辑人员-->
<script type="text/javascript">
    $(".edit").on("click",function(){
        //>>获取人员数据
        var id = $(this).attr("nameid");
        $.post("index.php?p=show&c=admin&a=getOne",{id:id},function (data) {
            $("#id").val(data.id);
            $("#zhanghao").val(data.zhanghao);
            $("#mima").val(data.mima);
            $("#xingming").val(data.xingming);
            $("#bumen").val(data.bumen);
            $("#shoujihaoma").val(data.shoujihaoma);
            $("#dianhua").val(data.dianhua);
            $("#guanliyuan").val(data.guanliyuan);
            $("#zhuangtai").val(data.zhuangtai);
        },"json")
        $(".tanchu").show(200);
    })
</script>

<!--删除人员（单）-->
<script type="text/javascript">
    $(".deleteSingle").click(function () {
        //>>获取当前公文Id
        var id = $(this).attr("nameid");
        //>>删除公文
        $.post("index.php?p=show&c=admin&a=deleteSingle",{id:id},function (data) {
            if (data==200){
                location.reload()
            }else {
                layer.alert("删除失败")
            }
        },"json")
    })
</script>

<script type="text/javascript">
    $("#piliangshanchu").click(function () {
        var lists = $("em[class='box em-add']");
        var ids = new Array();
        var i = 0;
        lists.each(function () {
            ids[i] =  $(this).attr("nameid")
            i++;
        });
        if (ids.length==0){
            layer.alert("请选择要删除的选项")
            return false;
        }
        $.post('index.php?p=show&c=admin&a=deletePiliang',{'data[]':ids},function (data) {
            if(data.code==200){
                //>>删除成功
                location.reload()
            }
        },"json")
    })
</script>
</body>
</html>
